
body {
    margin:0;
    font-family: -apple-system, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #3d3d3d, 1px 1px 0 #3d3d3d;
  letter-spacing: 15px;
  word-spacing: 2.5cap;
  line-height: 1.6;
}

#Homepage{
    background-image: url("main\ page\ image.png");
    height: 100vh;    /* Center and scale the image nicely */
    width:100%;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;    /* move the background image to the back of h1 */

}

.placeholder {
    margin-left:35%;
    width: 415px;
    border: 5px solid #3d3d3d;
    height: 100vh;
    position: relative;
    text-align: center;
}

.placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.columns {
    margin-left:35%;
    display: flex;
    width: 415px;
    height: 400px;
    border: 5px solid #3d3d3d;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
}

.columns .h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    white-space: nowrap; /* Prevents text from wrapping */
}

/* h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 1rem;
  text-align:right; */
/* } */

