        html, body {
        height: 80%; /* Ensure both html and body take full height */
        margin: 0; /* Remove default margins */
        box-sizing: border-box;
    }
        body {
        display: flex; /* Center content vertically & horizontally */
        align-items: center;
        justify-content: center;
        background: #ffffff;
    }

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
  /* word-spacing: 2.5cap; */
  line-height: 1.4;
  padding: 1rem 10rem;
  text-align:right;
}

/* .container {
  max-width: 55 px;
  margin: 0 auto;
} */

.masthead {
  display: block;
  height: 10px;
  font-family: -apple-system, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #3d3d3d, -1px -1px 0 #3d3d3d, 1px 1px 0 #3d3d3d;   /* outline text affect */
  letter-spacing: 15px;
  word-spacing: 2.5cap;
  line-height: 1.6;
  padding: 1rem;
  text-align:right;
}

.background {

  /* The image used */
  background-image: url("https://image2url.com/r2/default/images/1770933755423-515aa8d6-095a-43e8-8754-20a263aee86d.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured {
  margin-bottom: 6rem;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  gap: 15rem;
  margin-bottom: 3rem;
}

.caption {
    display: block;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    width:2em;
    height: 2em;
    padding: 2em;
    white-space: pre-wrap;
    gap: 3rem;
}

.column-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: #000000;
  text-shadow: -1px -1px 0 #ffffff;
  letter-spacing: 0.05em;
  text-align: left;
}
